<a href="https://colab.research.google.com/github/himanshusingh0905/python-notes/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First program:

### print():
* SYNTAX : `print(object(s), sep=separator, end=end, file=file, flush=flush)`
  * object = object you are printing
  * sep = separator between variables, when you are passing multiple variables to print.
  * end = By default = \n, ending of line ( after printing variables passed into print() )

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("Hello World!\nHello World!\nHello World!")

Hello World!
Hello World!
Hello World!

In [ ]:
# If I want to print ->  she said "Hello" and left.
# First method:
print('She said "Hello" and left')
# Second method:  Using backspace(\) to escape the double quotes
print("She said \"Hello\" and left")

She said "Hello" and left
She said "Hello" and left

# 1. Python Variables & Data types

* Python is `Dynamically typed` language. Which means we don't have to declare the `type` before variable.
* It's a **case-sensitive** language.

### RULES TO DECLARE VARIABLES:
* A variable name must start with a `letter` or the `underscore` character.
* A variable name can only contain **alpha-numeric** characters and underscores **(A-z, 0-9, and _ )**.
* Variable names are case-sensitive (age, Age and AGE are three different variables).
* A variable name cannot be any of the Python keywords.

In [ ]:

age = 40

# 1. print using 'string - concatenation'

# print("you are "+ age + "years old")  # you are going to get TypeError here as age is int
# correction : age is type-casted to int
print("you are "+ str(age) + " years old")

# 2. Pass as argument or using comma
print("you are", age , "years old") # Here print() is treating them as 3 arguments, so automatic space is included after comma
a = "shri"
b = 89
c = 28j
print(a,b,c)

# 3. fstrings
print( f"you are {age} years old")

you are 40 years old
you are 40 years old
shri 89 28j
you are 40 years old

<img src="images\green-divider.png"/>

## Data types
  ### 1. Numbers
  * #### int
  * #### float
  * #### complex

In [ ]:
a = 25
b = 25.4
c = 7 + 4j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# To increase redability of numbers we can use underscore in it like this.
num = 3_12_43_555
print(num)

num2 = 5_69_73.4789
print(num2)

print( 1_2  * 1_5)

31243555
56973.4789
180

#### round() :
- Syntax : **round (** *value*, *precision after decimal* **)**

In [ ]:
print( round( 10/3, 2)) # precision = 2 digits afte decimal
print( round(5.36725, 1))
print( round(2.31243, 3))

3.33
5.4
2.312

In [6]:
# Some operations which are supported in Javascript but not in python
n1 = "25"
n2 = "5"

# print(n1 / n2)   # TypeError
# print(n1 - n2)     # TypeError
# print(n1 * n2)      # TypeError

# This concatenation is supported
# print(n1 + n2 ) # 255

255

<img src="images\green-divider.png"/>

### 2. STRING (str)

In [ ]:
email = "abc@gmail.com"
name = "Himanshu"

# Using fstring to print :
print(f"your name is {name}")
print(f"your email is {email}")

print(type(name))

your name is Himanshu
your email is abc@gmail.com
<class 'str'>

### 3. BOOLEAN ( True or False ):

In [ ]:
flag = True
print(f"Are you single {flag}")
print(type(flag))

Are you single True
<class 'bool'>

## Ways to assign values to varibles

#### 1. ONE TO MANY
#### 2. MANY TO MANY
#### 3. MANY TO ITERABLE ( OR ANY COLLECTION )

<img src="images\green-divider.png"/>

# User Input & Type-Casting:
* `input()` always returns a **string** (or **str**).

In [ ]:
# User input
name = input("Enter your name ")
print(f"Hello {name}")

Hello Himanshu

In [ ]:
# input() returns 'str' type:
age = input("Enter your age: ")

# Suppose I want to increase my age by 1
# age = age + 1
# Yes, I am going to get TypeError, If I do previous action because it was a str.
print(age)
print(type(age))

25
<class 'str'>

**NOTE :**  In Previous example, If I do `age = age + 1`. I am going to get **TypeError**.Because you can't concatenate `int` to `str`.

*Hence the Role of Type-casting comes here...*

#### Note : By default input() function returns `str` type. so we have to typecast it into other data types.


### TYPE-CASTING:

In [ ]:
# How to take int, float and bool input
i = int(input())
f = float(input())
b = bool(input())
co = complex(input())
print(type(i))
print(type(f))
print(type(b))
print(type(co))
print(i)
print(f)
print(b)
print(co)

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
5
10.0
True
(20+0j)

In [ ]:
# QUESTION : WHAT WOULD THESE BOOLEAN VARIABLES PRINT ?
str1 = ""
str2 = " "
str1 = bool(str1)
print(str1)
str2 = bool(str2)
print(str2)

# Note : this way we can also find out that if string is empty or not.
#        Because empty string when type-casted to bool, becomes false.

False
True

#### Basically type-casting is of two types:
*  #### Explicit : Manual type-casting or ` Doing casting by yourself`
*  #### Implicit : Automatic type-casting.

In [ ]:
# Implicit Type-casting
a = 4     # int
b = 10.0  # float

c = b / a

print(c)
print(type(c))
#--------------------------------------------------------------------
# EXample 2:

a = 5.2
b  = 2 + 3j

c = a + b

print(c)
print(type(c))

2.5
<class 'float'>
(7.2+3j)
<class 'complex'>

**NOTE :** Above variable `c` was automatically typecasted. so Implicit typecasting is done from lower data-type to higher data type. Like above:
* `int` was typecasted to `float`.
*  `float` was typecasted to `complex`.

## Let's do a simple exercise..

## Exercise 1 : Write a Program to find out Area of Circle.

In [ ]:
# Area of Circle
import math

r = int(input("Enter radius of circle: "))
pi = math.pi
area = pi * r * r
# I can use round() function to round the value upto desired places
print(f"Area of circle = {round(area,2)} m^2")

Area of circle = 153.94 m^2

<img src="images\green-divider.png"/>

# Mathematical operators in python:

## 1. Arithmetic operators:

1.   Basic operators : +, -, *, /
2.   Modulus operator: %
3.   Exponentiation : **
4.  floor or integer division : //

## 2. Python Bitwise Operators
Bitwise operators are used to perform operations on bits:
1. AND (&)
2. OR ( | )
3. NOT ( ~ )
4. left shift ( << )
5. right shift ( >> )

## Augmented Assignment operator:
+=,  -= ,  *= ,  /= ,  &= ,  |= ,  <<= ,  >>= ,  ~= ,  **= ,  %= ,  //=

# 3. Comparision Operator:
1. greater than ( > )
2. less than ( < )
3. greater than or equal to ( >= )
4. less than or equal to ( <= )
5. Not equal ( != )
6. equal ( == )

# 4. Logical Operator:
1. and ( like && in c++ )
2. or
3. not

# 5. Identity Operator
1. `is`
2.  `is not`

# 6. Membership Operator
1. `in`
2. `not in`

In [ ]:
a = 11

# 1. '+' operator:
a += 4
print("value of a = ",a)

# Normal division
d = a / 2
print(f"value of normal division (a / 2) = ",d)

d = a // 2
print(f"Integer division = ", d);

# Integer division
a //= 2

# Exponentiation
a **= 3
print(f"value of exponentiation = ",a)

# round()
f = 7.8764236
print(f"Rounded value of {f} upto 2 decimal places {round(f,2)}")


# abs()
n = -89
print(f"abs() of {n} is = {abs(n)}")

value of a =  15
value of normal division (a / 2) =  7.5
Integer division =  7
value of exponentiation =  343
Rounded value of 7.8764236 upto 2 decimal places 7.88
abs() of -89 is = 89

## Identity Operators in detail :

* Identity operators are used to **compare the objects**.
* If both the objects are actually of the `same data type` and `share the same memory location`.

1.   `is = True` : If variables on either side of the it point to same object and `False` otherwise.
2.   `is not = True` If variables on either side of it aren't same. and `False` otherwise.

In [ ]:
# Example 1:
a = 1000
b = 1000
print(a is b)

# Example 2:
x = 5
y = 5
print(x is y)

# Example 3:
x = ["Geeks", "for", "Geeks"]
y = ["Geeks", "for", "Geeks"]
print(x is y)

False
True
False

# Membership operators in detail:
1. **in operator**:
* It is used to check if a **character/ substring/ element** exists in a sequence or not.
* Evaluate to `True` if it finds the specified element in a sequence otherwise `False`.

*  **Time complexity** of the **in** operator for `lists` is **O(n)**. And for `sets` is **O(n)**


---


2. **not in** returns:
* `True` : If finds the variable in sequence and `False` otherwise.

In [1]:
# Write a program to find comman element in list using 'in' operator:
list1 = [1,2,3,4,5]
list2 = [5,6,8,4]
ans = list()

for i in list1:
  if i in list2:
    ans.append(i)

print(f"comman elements are : {ans}")

comman elements are : [4, 5]

<img src="images\green-divider.png"/>

# math module:

In [ ]:
import math

x = 29

print(f"Built-in pi = {math.pi}")
print(f"Built-in e = {math.e}")
print(f"square root = {math.sqrt(x)}")

a = 4.25

print(f"floor of x = {math.floor(a)}")
print(f"ceil of x = {math.ceil(a)}")

Built-in pi = 3.141592653589793
Built-in e = 2.718281828459045
square root = 5.385164807134504
floor of x = 4
ceil of x = 5

In [ ]:
# Write a program to find hypotenuse of a right triangle
import math
a = int(input("Enter length of side A = "))
b = int(input("Enter length of side B = "))

h = math.sqrt(a**2 + b**2)
print(f"length of third side = {h}")

Enter length of side A = 3
Enter length of side B = 4
length of third side = 5.0

# random module
1. randrange(*start*, *stop*, *step*)
2. randint( a,b ):
   -  range = [a,b]
3. random():
   -  x is in range = [0,1)
   -  Basically it's float values

In [32]:
import random
# let's use randrange()
random = random.randrange(1,15,2)
print(random)

11
0.008221398202102548

### choice() in 'random' module
* returns a randomly selected element from the specified sequence.
* The sequence can be a *string*, a **range*, a *list*, a *tuple* or any other kind of sequence.

In [2]:
import random
# for List:
List= ["him", "he", "she", "her", "I", "We"]
print( random.choice(List) )

# for range()
print( random.choice( range(1,10) ))

# for string
print( random.choice( "WELCOME") ) # giving random letter as output

We
4
M

### EXERCISE :           
You are going to write a virtual coin toss program. It will randomly tell the user "Heads" or "Tails".

Important, the first letter should be capitalised and spelt exactly like in the example e.g. "Heads", not "heads".

There are many ways of doing this. But to practice what we learnt in the last lesson, you should generate a random number, either 0 or 1. Then use that number to print out "Heads" or "Tails".

e.g. 1 means Heads 0 means Tails

In [33]:
import random

random = random.randint(0,1)
if random == 1 :
  print("Heads")
else:
  print("Tails")

Heads

<img src="images\green-divider.png"/>

# control flow:
- Loops and if-else blocks

## ( if - else - elif ) in python :
* `elif` is similar to `else if` in c++. Otherwise `if-else` are already same.
* Only one difference colon ( : ). Here in python `colon` is used to represent a block of code like `paranthesis` does in c++.

In [ ]:
# Calculator program to demonstrate if-else-elif:
op = input("Choose an operator from (+ , - , / , *) : ")
n1 = int(input("Enter first number : "))
n2 = int(input("Enter second number : "))

if op == '+':
  print(f"sum = {n1 + n2}")
elif op == "-":
  print(f"subtraction = {n1-n2}")
elif op == "*":
  print(f"Multiplication = {n1*n2}")
else:
  print(f"division = {n1/n2}")

Choose an operator from (+ , - , / , *) : *
Enter first number : 8
Enter second number : 6
Multiplication = 48

In [2]:
word = "avacado"
ans = ("v" in word)
print(ans)

True

---

### Exercise:
Write a program that check out whether if a given year is a leap year. A normal year has 365 days, leap years have 366, with an extra day in February. The reason why we have leap years is really fascinating, this video does it more justice.

This is how you check out whether if a particular year is a leap year.
- on every year that is divisible by 4 with no remainder
- **except** every year that is evenly divisible by 100 with no remainder
- **unless** the year is also divisible by 400 with no remainder

e.g. The year 2000:
   - 2000 ÷ 4 = 500 (Leap)
   - 2000 ÷ 100 = 20 (Not Leap)
   - 2000 ÷ 400 = 5 (Leap!)
- So the year 2000 is a leap year.

But the year 2100 is not a leap year because:
- 2100 ÷ 4 = 525 (Leap)
- 2100 ÷ 100 = 21 (Not Leap)
- 2100 ÷ 400 = 5.25 (Not Leap)
---
#### ALGORITHM :
<img src="images\algo.png"/>

In [ ]:
year = int(input("Enter year : "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Yes, It's a Leap year")
        else :
            print("Not a Leap year")
    else :
        print("Yes, It's a Leap year")
else :
    print("Not a Leap year")

Enter year : 2100
Not a Leap year

## EXERCISE 2 :

You are going to write a program that tests the compatibility between two people.

To work out the love score between two people:
- Take both people's names and check for the number of times the letters in the word TRUE occurs.
- Then check for the number of times the letters in the word LOVE occurs.
- Then combine these numbers to make a 2 digit number.

For Love Scores less than 10 or greater than 90, the message should be:
- "Your score is *x*, you go together like coke and mentos."
For Love Scores between 40 and 50, the message should be:
- "Your score is *y*, you are alright together."

Otherwise, the message will just be their score. e.g.:

"Your score is *z*."
e.g.

name1 = "Angela Yu"
name2 = "Jack Bauer"

- T occurs 0 times
- R occurs 1 time
- U occurs 2 times
- E occurs 2 times

Total = 5

- L occurs 1 time
- O occurs 0 times
- V occurs 0 times
- E occurs 2 times

Total = 3

Love Score = 53

**Print: "Your score is 53."**

----
### Important functions we can use here :
1. **count()** :
   -  **SYNTAX :**   ***string.count("char")***        -> It will return the number of characters present in that string.

2. **lower()**:
   -  **SYNTAX :**  ***string.lower()***   -> It will convert all characters of that string into lowercase.

In [ ]:
# Here we can use count() to count characters
name1 = input().lower()
name2 = input().lower()

# Now I have to count letters of TRUE in both names
Tcount = 0
Tcount += ( name1.count("t") + name1.count("r") + name1.count("u") + name1.count("e") )
Tcount += ( name2.count("t") + name2.count("r") + name2.count("u") + name2.count("e") )

# Now I have to count letters of LOVE in both names
Lcount = 0
Lcount += ( name1.count("l") + name1.count("o") + name1.count("v") + name1.count("e") )
Lcount += ( name2.count("l") + name2.count("o") + name2.count("v") + name2.count("e") )

score = Tcount * 10 + Lcount

if score < 10 and score > 90:
    print(f"Your score is {score}, you go together like coke and mentos.")
elif score > 40 and score < 50:
    print(f"Your score is {score}, you are alright together.")
else :
    print(f"Your score is {score}.")

David Beckham
Victoria Beckham
Your score is 45, you are alright together.

---

# Loops in python:

In [3]:
List = ["Him", "HE", "she", "her"]

# I call it, For-each loop
for item in List:
    print(item)

Him
HE
she
her

## range():
* SYNTAX : range( *start*, *end*, *step* )
* *end* is excluded.

In [7]:
# combining LC for more clarity
List = [i for i in range(2,10,2)]
print(List)

[2, 4, 6, 8]

In [8]:
# By default, It starts from 0 and 'end' is not included.
for i in range(5):
    print(i)

0
1
2
3
4

## Exercise: Print the sum of all even numbers from 1 to N using range().

In [16]:
N = int(input())

sum = 0
for i in range( 2 , N+1, 2):
    sum += i
    print(i,end=" ")

print(f"\nsum = {sum}")

2 4 6 8 10 12 14 16 18 20 22 24
sum = 156

<img src="images\purple-divider.png"/>

## Numbers ( decimal, octal, binary and hexadecimal ):
### 1. Decimal : Normal numbers that we usually deal with.
### 2. binary :     

*   bin() constructor :   converts a number into binary. and return as str
*   binary numbers are having prefix **0b**
*   Example : 0b1001

### 3. oct :    
*  oct() constructor : converts a number into octal. and return result as str
*  octals prefixed with **0o**.

### 4. hex :
*  hex() constructor converts number into hexadecimal. and return as str.
*  prefixed with **0x**.

In [ ]:
num = 15
h =  hex(num) # output = 0xf
b = bin(num)  # Output = 0b1111

# Can we convert hex into binary directly using bin().
#print( bin(h) )   # Error : 'str' object cannot be interpreted as an integer.
print(h)
print(b)
print( oct(num) )

0xf
0b1111
0o17

<img src="images\green-divider.png"/>

## fstring in python:

## Format specifiers in python:

### SYNTAX :-  {value:flags}

1. **`.(number)f`** -> Rounds the value upto that(number) many places.
2. **`:(number)`** -> Allocate that many places.
3. **`:0number`** -> attach zeroes in front of value.
4. **`:<number`** -> left justified result. Here by default `number - (digits in value)` spaces will be added at end of value
5. **`:>number`** -> same as above, but spaces will be added in front of value.
6. **`:^number`** -> Same as above, However we can also add 0 instead of spaces.
7. **`:+`** -> Any positive number will be preceded with + sign. and negative number remain same.
8. **`:, `** -> Helps in representing value in thousand separater like:  4,697

In [ ]:
num = 5.165464
num2 = 4.364
num3 = -1.23

# syntax : { : flags}
# 1. Rounds the value upto 2 decimal places :
print("=>  round of upto 2 decimal places..")
print(f"round the {num} upto 2 decimal places = {num:.2f}")
print("________________________________________________________________")

print("\n=>  this will create spaces in front of result..")
# 2. # will attach space in front of num
print(f"{num:30}") # ( spaces = 30 - [digits in num] )
print(f"{num2:30}")
print(f"{num3:30}")
print("________________________________________________________________")

# 3. Below will attach zeroes in front of number.
print(f"\n=>  Prefixing with zeroes..")
print(f"{num:030}") # Here total digits will be 30 i.e. (digits in num + zeroes = 30)
print("________________________________________________________________")

# 4. left justified the result
print("\n=>  left justified the result: ")
print(f"{num:<20}")
print(f"{num2:<20}")
print(f"{num3:<20}")

print("\n=>  Now let's see right justfied..")
print(f"{num:>20}")
print(f"{num2:>20}")
print(f"{num3:>20}")

print("\n=> Now let's see center justified....")
print(f"{num:^20}")
print(f"{num2:^20}")
print(f"{num3:^20}")
print("________________________________________________________________")

print("\n=>  let's use thousand separator")
n = 7452369
print(f"Representation of {n} in thousand separate format = {n:,}")
print("________________________________________________________________")

print("\n=>numbers will be preceded with + sign and negative number remain same..")
print(f"{num:+20}")
print(f"{num2:+20}")
print(f"{num3:+20}")
print("________________________________________________________________")

print("We can also use mix format specifiers.Like here we're using 2 format specifiers..")
print(f"{num:>20.2f}")
print(f"{num2:>20.2f}")
print(f"{num3:>20.2f}")

=>  round of upto 2 decimal places..
round the 5.165464 upto 2 decimal places = 5.17
________________________________________________________________

=>  this will create spaces in front of result..
                      5.165464
                         4.364
                         -1.23
________________________________________________________________

=>  Prefixing with zeroes..
00000000000000000000005.165464
________________________________________________________________

=>  left justified the result:
5.165464
4.364
-1.23

=>  Now let's see right justfied..
            5.165464
               4.364
               -1.23

=> Now let's see center justified....
      5.165464
       4.364
       -1.23
________________________________________________________________

=>  let's use thousand separator
Representation of 7452369 in thousand separate format = 7,452,369
________________________________________________________________

=>numbers will be preceded with + sign and negative number remain same..
           +5.165464
              +4.364
               -1.23
________________________________________________________________
We can also use mix format specifiers.Like here we're using 2 format specifiers..
                5.17
                4.36
               -1.23

<img src="images\green-divider.png"/>

# functions in python
* while creating any block of code in python ***indentation*** is very important.For example : if-block, loops, and functional block
* functions in python are created using **def** keyword.

In [4]:
# Example:
def sayHi():
    print("Hi!")

sayHi()

Hi!

# unpacking

In [ ]:
def demo_unpacking(**data):
    ...


List = [1,2,3,4,5,6,7]
Dict = {
    "Name":"David",
    "Roll No": 123,
}