<a href="https://colab.research.google.com/github/himanshusingh0905/python-notes/blob/main/python_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# str
## Topics:
   1. What are Strings?
    
   2. Accessing String elements
    
   3. String properties
    
   4. Builtin functions
    
   5. String methods
    
   6. String conversions
    
   7. String Comparisions

# What are Strings?
* strings are declared using ***single quote(' ')*** , ***double quotes(" ")***, ***Triple quotes("""  """)*** and ***backtics(``)***.
* starting **index = 0**
* In python, constructor of strings = ***str()***

In [5]:
string = "Himanshu"
print(string)

# Let's print individual characters
print( "hello"[1] )
print( "hello"[2] )
print( "hello"[4] )

Himanshu
e
l
o

# fstring in python:
* **starts with `f`**. 
* Example: 
```python
        name = "Moss"
        greet = f"hello {name}"
```


## Format specifiers attached with fstrings.

### SYNTAX :-  {value:flags}

1. **`.(number)f`** -> Rounds the value upto that(number) many places.

2. **`:(number)`** -> Allocate that many places.

3. **`:0number`** -> attach zeroes in front of value.

4. **`:<number`** -> left justified result. Here by default `number - (digits in value)` spaces will be added at end of value

5. **`:>number`** -> same as above, but spaces will be added in front of value.

6. **`:^number`** -> Same as above, However centered.

7. **`:+`** -> Any positive number will be preceded with + sign. and negative number remain same.

8. **`:, `** -> Helps in representing value in thousand separater like:  4,697

### 1. Rounds the value upto 2 decimal places :
- SYNTAX : `{num : .(number)f}`

In [7]:
num = 5.165464
num2 = 4.364
num3 = -1.23

# 1. Rounds the value upto 2 decimal places :
print(f"round the {num} upto 2 decimal places = {num:.2f}")

round the 5.165464 upto 2 decimal places = 5.17

### 2. To attach space in front of  a number
- SYNTAX :  **`{num:(number)}`**
- `Total spaces = number - [digits in num]`

- result is right inclined

In [6]:
num = 5.165464
num2 = 4.364
num3 = -1.23

# 2. # will attach space in front of num
print(f"{num:30}") # ( spaces = 30 - [digits in num] )
print(f"{num2:30}")
print(f"{num3:30}")

                      5.165464
                         4.364
                         -1.23

### 3. Below will attach zeroes in front of number.
- Previously we are attaching white space in front of num.
- Here we are attaching 0's in front of num. 
- But it won't work with other number, for example: {num:130} so here 130 spaces will be attached rather than 30 1's.

In [12]:
num = 5.165464
num2 = 4.364
num3 = -1.23

# 3. Below will attach zeroes in front of number.
print(f"\n=>  Prefixing with zeroes..")
print(f"{num:030}") # Here total digits will be 30 i.e. (digits in num + zeroes = 30)

=>  Prefixing with zeroes..
00000000000000000000005.165464

### 4. Left justified the result
- SYNTAX : `{ num : <number}`

- `Total spaces = number - [digits in num]`

In [14]:
num = 5.165464
num2 = 4.364
num3 = -1.23


# 4. left justified the result
print("left justified the result: ")
print(f"{num:<20}")
print(f"{num2:<20}")
print(f"{num3:<20}")

left justified the result:
5.165464
4.364
-1.23

### 5. Right justified the result
- SYNTAX : `{ num : >number}`

- `Total spaces = number - [digits in num]`

In [17]:
num = 5.165464
num2 = 4.364
num3 = -1.23

print("Now let's see right justfied..")
print(f"{num:>20}")
print(f"{num2:>20}")
print(f"{num3:>20}")

Now let's see right justfied..
            5.165464
               4.364
               -1.23

### 6. Center justified the result
- SYNTAX : `{ num : ^number}`  

- `Total spaces = number - [digits in num]`

In [18]:
num = 5.165464
num2 = 4.364
num3 = -1.23


print("\n=> Now let's see center justified....")
print(f"{num:^20}")
print(f"{num2:^20}")
print(f"{num3:^20}")

=> Now let's see center justified....
      5.165464
       4.364
       -1.23

### 7. How to represent a number in `thousand separator' format like : 745,236,986?
- SYNTAX : { num :,}

In [20]:
num = 7846212369847421
print( f"{num:,}")

7,846,212,369,847,421

### 8. Represent a number with + or - sign:
- SYNTAX : `{ num : +}`
- Positive numbers will be preceded with + sign and negative number remain same.

In [ ]:
print(f"{num:+}")
print(f"{num2:+}")
print(f"{num3:+}")

=>numbers will be preceded with + sign and negative number remain same..
+5.165464
+4.364
-1.23

### mixed use of format specifiers

In [23]:

num = 5.165464
num2 = 4.364
num3 = -1.23


print("We can also use mix format specifiers.Like here we're using 2 format specifiers..")
print(f"{num:>20.2f}")
print(f"{num2:>20.2f}")
print(f"{num3:>20.2f}")

We can also use mix format specifiers.Like here we're using 2 format specifiers..
                5.17
                4.36
               -1.23

<img src="images\green-divider.png"/>

# string methods:


## 1. str() :  converts other objects (int, float, etc) into `str`

In [ ]:

i = 45
f = 96.8
print(type(i))
print(type(f))

print("After converting to str using str()......")
i = str(i)
f = str(f)
print(type(i))
print(type(f))

<class 'int'>
<class 'float'>
After converting to str using str()......
<class 'str'>
<class 'str'>

<img src="images\purple-divider.png"/>

## 2. len() : Used to find the length of str

In [ ]:
s = "Hello World" # total 11 characters including space. so answer should contain 11 characters
print(len(s))

11

<img src="images\purple-divider.png"/>

## 3. split() :    
* returns a `list` of splitted substrings.
* ### Syntax
`string.split(separator, maxsplit)`
 * **separator**:
   * `Default = None`, it will split on any whitespaces, including(\n, \r, \t,
    \f).
   * Otherwise it can be any character (for eg. '#' , '%', '|' , or any character ).
 * **maxsplit**: maximum number of splits.
    * By default = -1, means no limit.
    * When maxsplit = n, then total elements in list = n + 1

In [ ]:
# Example 1:
s = "hha;yya;rha;vha;sha;rar"
list1 = s.split(";")
print(f"Printing list when delimiter = ';'")
print(list1)
print("\nPrinting list when delimiter = 'a'")
list2 = s.split("a")
print(list2)

Printing list when delimiter = ';'
['hha', 'yya', 'rha', 'vha', 'sha', 'rar']

Printing list when delimiter = 'a'
['hh', ';yy', ';rh', ';vh', ';sh', ';r', 'r']

In [2]:
# Example 2:
s = "Hii Himanshu! How are you ?"
l = s.split(maxsplit=2)
print(l)
# Below the length of list comes out to be 3. Because ( l = n + 1)
# l = length, n = maxsplit passed (here 2).
print(f"length of list = {len(l)}") # output = 3

['Hii', 'Himanshu!', 'How are you ?']
length of list = 3

<img src="images\purple-divider.png"/>

## 4. strip() :  [Default = whitespace]   
* Return a copy of the string with **leading** and **trailing** characters or whitespace removed.

* #### SYNTAX:
   * `string.strip(characters)`
      * Here, characters = A set of characters to remove as leading/trailing characters.

In [ ]:
# Example 1:

S = ",,,,,rrttgg.....banana....rrr"
x = S.strip(",.grt") # we want to remove 5 characters: (,.grt)
print(x)

banana

In [ ]:
s = "########## Hello world how are you #fit #healthy ##############"
result = s.strip("#")
print(result)
print(len(result))

 Hello world how are you #fit #healthy
39

**NOTE** : From above, two things are clear :-         
 1. Only trailing and leading character(#) were removed.
 2. Only specified element were removed, not any whitespace.
 3. We can pass multiple characters.

 ## Note: Similarly there are other 2 methods related to strip():
  ###  1. **lstrip()**: only leading characters are removed.
  ###  2. **rstrip()** : only trailing characters are removed.

<img src="images\purple-divider.png"/>

## 5. join() :
* It joins the all items of an `iterable` into one `str`.
* **SYNTAX :**
  * `string.join(iterable)`
     * Here **iterable** is object like list, tuple, dictionary, etc.
     * Here this `string` part act as **separator** while joining items in that iterable.

* **NOTE** : When using a dictionary as an iterable, the returned values are the keys, not the values.

In [ ]:
# Example 1:
string = "#".join(['ab', 'pq', 'rs'])
print(string)

ab#pq#rs

<img src="images\purple-divider.png"/>

In [3]:
name = "David Warner from Australia"
print( " ".join(map(str.capitalize, name.split(" "))))

David Warner From Australia